
.full{
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: yellow;
    display: flex;
    flex-direction: row;

}

.leftpane{
display: flex;
flex: 0.3

}

.rightpane{
    display: flex;
    flex:0.7;
    flex-direction: column;
}

.rightTop{
    display: flex;
    flex:0.2;

}

.rightMain{
    display: flex;
    flex:0.8;


}









